
  /* HEADER BACKGROUNG */
  .whiteBg{
    position: absolute;
    top: 0;
    left: 230px;
    width:calc( 100%  - 230px );
    height: 86px; 
    background-color: #ffffff;
    box-shadow: 0px 4px 0px 0px rgba(166, 162, 162, 0.3);

  }
  .bar{
    display: none;
  }
  @media screen and (max-width: 768px){
    .whiteBg{
      position: absolute;
    top: 0;
    left: 100px;
      width: calc( 100%  - 100px );
    }
    .searchInput{
      width: 50% !important;
      margin-left: 40px;
    }
    .bar{
      display: block;
      position: relative;
      top: 5px;
      font-size: 20px;
     cursor: pointer;
    }
  }
  .search{
    display: flex;
  margin-top: 20px;
  margin-left: 20px;
  }
  .searchInput {
    border: none;
    outline: none;
      background-color: #f8f9fc;
  padding: 8px;
  width: 30% !important;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: all 2s ease;
    
  }
  .searchInput:focus{
    box-shadow: 0px 0px 2px 3px rgba(127, 185, 233, 0.3);
  }
  .searchBtn:focus{
    box-shadow: 0px 0px 2px 3px rgba(191, 40, 40, 0.3);

  }
.searchBtn button{
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  padding: 8px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.sideIcons{
 position: relative;
right: 30px;
bottom: 27px;
}
.sideIcons i{
  color: #ccc;
}
.sideIcons i:hover{
  color: #b4b4b4;
}

.dougles{
  position: relative;
  bottom: 37px;
  right: 25px;
  border-left: 1px solid #ccc;
}
.sideIcon{
  display: flex;
position: relative;
justify-content: flex-end;
flex-wrap: wrap;
}
@media screen and (max-width: 990px){

.dougles2{
  display: none;
}

}
 @media screen and (max-width: 661px){

      .searchInput {
        border: none;
        outline: none;
          background-color: #f8f9fc;
      padding: 8px;
      width: 25% !important;
    }
 }
 @media screen and (max-width: 484px){

  .searchInput {
   display: none;
}
.searchBtn button{

  position: relative;
  left: 50px;
}
}


   
  