



/* SdAdmin Styles */
.containers:hover{
  cursor: pointer;
}
.containers{

  background-color: #486dda;
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: calc(100vh + 170vh);
  transition: 0.5s ease-in-out;
}



.sidebarItem i{
  position: relative;
 left: 30px;
}
.sidebarItem span{
  position: relative;
 left: 30px;
}
.sidebarItem  {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  border-bottom: 1px solid rgb(222, 222, 222);
  padding: 10px;
  width: 240px;
  padding-bottom: 30px;
  position: relative;
  right:  50px;
  top: 15px;
  color: #ffffff;
}

.sidebarText {
  /* flex-grow: 10; */
  font-weight: bold;
}
.link:hover {
  text-decoration: none;
}
/* Dashboard */

.link2:hover {
  text-decoration: none;
}
.sidebarItem2  {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  border-bottom: 1px solid rgb(222, 222, 222);
  padding: 10px;
  width: 240px;
  position: relative;
  right: 50px;
  top: 15px;
  color: #ffffff;
  padding-bottom: 30px;
}

/* INTERFACR */
/* .components{
  text-decoration:none;
  color:#c6c2c2;
  list-style: none;

}
.components:hover{
  color: #ffffff;
}
.components span{
  position: relative;
  right: 20px;
  top: 10px;
}
.components i{
  position: relative;
 right: 30px;
 top: 10px;
} */
.components{
  list-style: none;
color:#ffffff;
display: flex;
width: 230px;
position: relative;
right: 40px;
top: 40px;
color: #c6c2c2;
}
.components i{
  position: relative;
 left: 6px;
 bottom: 20px;
 }
 .components span{
  position: relative;
  left: 13px;
  bottom: 20px;
 }
 .components:hover{
  color: #ffffff;
 }


.Utilities{
  list-style: none;
color:#ffffff;
display: flex;
border-bottom: 1px solid rgb(222, 222, 222);
width: 230px;
position: relative;
right: 40px;
top: 40px;
color: #c6c2c2;
}
 .Utilities i{
  position: relative;
 left: 6px;
 bottom: 20px;
 }
 .Utilities span{
  position: relative;
  left: 20px;
  bottom: 20px;
 }
 .Utilities:hover{
  color: #ffffff;

 }

 /* dropDowns */
 .drop{
  background-color: #ffffff;
  position: relative;
  left: 30px;
  height: 120px;
  border-radius: 10px;
 }
  ul{
  list-style: none;
 }
 .buttons:hover ,.cards:hover{
  background-color: #c6c2c2;
  border-radius: 6px;
 }
 .buttons , .cards{
  padding-left: 15px;
  
 }
 /* DROPDOWN 2 */

 .drop2{
  display: flex;
  background-color: #ffffff;
height: 200px;
width: 100%;
position:relative;
left: 14px;
border-radius: 10px;

 }
 .color, .border, .animation, .other{
  padding: 3px;
  padding-left:30px;

 }
 .color:hover, .border:hover, .animation:hover, .other:hover{
  background-color: #c6c2c2;
  border-radius: 6px;
 }
 /* DROPDOWN 3 */

 .pages{
  list-style: none;
color:#ffffff;
display: flex;
 width: 230px;
position: relative;
right: 40px;
top: 40px;
color: #c6c2c2;
}
.pages span{
  position: relative;
  left: 19px;
  color: #c6c2c2;
}
.pages i{
  position: relative;
  left: 8px;
}
.pages:hover{
  color: #c6c2c2;
}

 .drop3{
  background-color: #ffffff;
height: 280px;
width: 200px;
position: relative;
top: 30px;
left: 14px;
border-radius: 10px;
 }

 .login:hover , .register:hover, .forgotPassword:hover,  .page404:hover{

  background-color: #c6c2c2;
  border-radius: 6px;

 }
 .login , .register, .forgotPassword,  .page404, .blankpage{
  padding: 3px;
  padding-left: 30px;

 }
 .blankpage:hover{
  border-radius: 6px;

  background-color: #c6c2c2;
 }



 .charts{
  list-style: none;
display: flex;
 width: 230px;
position: relative;
left: 3px;
margin-top: 90px;
}


.chart{
  color: #c6c2c2;
  position: relative;
  top: 50px;
}
.chart i{
  position: relative;
  right: 33px;
}
.chart span{
position: relative;
right: 20px;
}

.chart :hover{
  color: white;
}





.table{
  color: #c6c2c2;
  position: relative;
  top: 80px;
  display: flex;
  border-bottom: 1px solid #ccc;
  width: 230px;
right: 40px;
}
.table i{
  position: relative;
  left:8px;
  bottom: 20px;
}
.table span{
position: relative;
left: 20px;
bottom: 20px;
}

.table :hover{
  color: white;
}
.container2 {

margin-left: -400px!important;
transition: 0.3s ease-in-out !important;

}
.container3 ,
.sidebarText, 
  .sidebarText2 ,
  .interface b,
   .components span,
    .Utilities span,
    .addons,
    .chart span,
    .pages span,
    .table span,
    .components
{
  font-size: 12px !important;

}

.container3{
  width: 100px !important;
}

.container3 .sidebarItem span{
  display: none !important;

}
@media screen and (max-width: 768px){
  
  .sidebarText, 
  .sidebarText2 ,
  .interface b,
   .components span,
    .Utilities span,
    .addons,
    .chart span,
    .pages span,
    .table span,
    .components

    
    {
    
      font-size: 12px !important;
  }
  .arrow{
    display: none !important;
  }
  
  
  .sidebarItem,
  .sidebarItem2,
  .components,
  .Utilities,
  .pages,
  .charts{
  
  
    width:100px !important;
  }
 
  .sidebarText  {
    display: none;
  }
  .fa-solid{
    display: none;


  }
  .table {
    border: none;
  }
  .drop{
    position:relative;
    overflow:visible;
    left: 100px;
  }


}